<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>XXX</servlet-name>
    <servlet-class>hello_server.core</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XXX</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
